Q1. Create one variable containing following type of data:

(i) string

In [1]:
s = "kunal"

In [2]:
s

(ii) list

In [3]:
l = [2,3,4,5,6, "kunal", 3+7j, True, 34.56]

In [4]:
l

(iii) float

In [5]:
f = 45.67868

In [6]:
f

(iv) tuple

In [7]:
t = (10, 20, 30)

In [8]:
t

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

(i) var1 = ‘ ‘

In [9]:
var1 = ' '

In [10]:
var1

In [11]:
type(var1)

(ii) var2 = ‘[ DS , ML , Python]’

In [12]:
var2 = '[ DS , ML , Python]'

In [13]:
var2

In [14]:
type(var2)

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

In [15]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [16]:
var3

In [17]:
type(var3)

(iv) var4 = 1.

In [18]:
var4 = 1.

In [19]:
var4

In [20]:
type(var4)

Q3. Explain the use of the following operators using an example:

(i) / (division): The division operator performs division between two operands and returns the quotient as a float. Example:

In [21]:
div = 1/2

In [22]:
div

(ii) % (modulo): The modulo operator returns the remainder of the division between two operands. Example:

In [23]:
mod = 1%2

In [24]:
mod

(iii) // (floor division): The floor division operator performs division between two operands and returns the quotient as an integer, rounded down to the nearest whole number. Example:

In [25]:
floor = 1//2

In [26]:
floor

(iv) ** (exponentiation): The exponentiation operator raises the first operand to the power of the second operand. Example:

In [27]:
expo = 3**2

In [28]:
expo

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
l = [1, 2, "kunal", 3.0, True, "pwskills", [23.45, 4], 5, 11.0, False]
for i in l:
    print(i, type(i))

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [30]:
A = 24
B = 4
count = 0

while A % B == 0:
    A = A / B
    count += 1

print("A is divisible by B", count, "times.")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [31]:
my_list = list(range(1,26))
for i in my_list:
    if i % 3 == 0:
        print(i, "is divisible by 3")
    else:
        print(i, "is not divisible by 3")

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable: Mutable data types are those whose values can be changed after they are created. Examples include lists, dictionaries, and sets. When you modify a mutable object, it retains the same identity (memory address), but its internal state can be altered.

In [32]:
# Example of mutable data type (list)
l = [1, 2, 3]

In [33]:
l

In [34]:
l[1] = 300

In [35]:
l

Immutable: Immutable data types, on the other hand, cannot be changed once they are created. Examples include strings, tuples, and numbers (integers, floats). When you perform an operation that seems to modify an immutable object, a new object is created with the updated value, while the original object remains unchanged.

In [36]:
# Example of immutable data type (string)
k = "kunal"

In [37]:
k

In [38]:
k[1] = 'a'